{
    "actions":[
        "cd {{.AppPath}}",
        "yarn install",
        "pwd",
        "yarn test",
        "cd ..",
        "sam build",
        "sam local invoke \"{{.AppName}}Function\" -e events/event.json --env-vars env.json",
        "sam deploy"
    ]
}
