{
    {{ $l := len .Variables -}}
    {{- $l := add $l -1 -}}
    "{{.AppName}}Function": {
        {{- range $index, $value := .Variables}}
        {{$v := split ":" $value}} "{{$v._0}}": "{{$v._1}}" 
        {{- if ne $index $l}},{{- end}}
        {{- end}}
    }
}
